:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0px;
  background-color: azure;
  animation: all 2s;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.app-box {
  max-width: 600px;
  margin: auto;
}
.top-of-todo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  background: rgb(5,17,19);
}
.todo-app {
  width: 100%;
  background: #827d7d;
}

.add-task {
  height: 35px;
  background: rgb(75, 230, 247);
  margin-left: 2px;
  color: rgb(108, 78, 184);
}
.add-task:hover {
  background: rgb(75, 230, 247);
}
.add-task:focus {
  box-shadow: 0px 0px 10px rgb(8, 7, 7) !important;
}
.form-control:hover {
  box-shadow: 0px 0px 10px rgb(8, 180, 168) !important;
}
.form-control:focus {
  box-shadow: 0px 0px 10px rgb(8, 180, 168);
}
.taskList-box {
  gap: 3px;
}
ul {
  padding: 0px;
}
.taskList-box li {
  list-style-type: none;
  height: fit-content;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
  padding: 5px;
  color: rgb(33, 189, 189);
}
.taskList-box li:hover {
  box-shadow: 0px 0px 10px rgb(8, 180, 168);;;
}
.todo-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.todo-text {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(12, 4, 6);
}

.icons-box {
  display: flex;
  padding: 3px;
  justify-content: space-around;
  color: rgb(15, 127, 207);
  font-size: 20px;
  gap: 20px;
}
.icons-box:hover {
  cursor: pointer;
}
.toggles {
  font-size: 37px;
}
.toggles:hover {
  cursor: pointer;
}
.yes-no-btns {
  gap: 40px;
  display: flex;
}
.yes-no-btns button {
  color: rgb(243, 225, 234);
  background: rgb(0, 18, 5);
  width: 65px;
  border: none;
  border-radius: 10px;
}
.css-1fxbt2f {
  border: none !important;
}
.css-1fxbt2f:focus {
  border: none !important;
  outline: none !important;
}
